[Unit]
Description=Rapid Headless Timer Service
After=network.target

[Service]
ExecStart=/usr/bin/rapid_headless -s /dev/ttyUSB0
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
